/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML Styles */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Body Styles */
body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    background-image: url(../Images/3.png);
    background-position: center;
    background-repeat: repeat;
    object-fit: cover;
}

/* Heading Styles */
body h1, h2, h3, h4, h5 {
    font-family: "Bebas Neue", sans-serif;
}

/* Paragraph Styles */
body p {
    font-family: 'Montserrat', sans-serif;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(85, 85, 85);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(orangered, gold, darkgoldenrod);
    border-radius: 50px;
}

/* Navbar Styles */
.navbar {
    scroll-snap-stop: normal;
    scroll-snap-align: start;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
    transform: translateZ(0);
}

.navbar .nav-links {
    display: flex;
}

/* Navbar Link Styles */
.navbar a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    margin-left: 40px;
    margin-right: 10px;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

/* Navbar Logo Styling */
.navbar .logo-image {
    margin-left: 20px;
}

/* Navbar Link Hover Effects */
.navbar a:hover {
    font-weight: bold;
    background: -webkit-linear-gradient(orangered, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease, height 0.3s ease;
}

.navbar a:hover::after {
    width: 95%;
}

/* Navbar Gradient Animation */
.navbar span {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 1000px;
    background: linear-gradient(90deg, transparent, goldenrod);
    animation: animate 2s infinite linear;
}

/* Keyframes for Gradient Animation */
@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }
    100% {
        left: 100%;
        transform: translate(0%);
    }
}

/* Contact Section Styles */
.contact {
    width: 80%;
    margin: 50px auto;
    height: 100vh;    
}

/* Contact Box Styling */
.contact-box {
    background-color: grey;
    display: flex;
}

/* Contact Left Column */
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

/* Contact Right Column */
.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: white;
    color: black;
}

/* Main Heading Styles */
h1 {
    margin-top: -40px;
    font-size: 100px;
    color: white;
}

/* Bold Gradient Text */
h1 b {
    color: transparent;
    background: linear-gradient(black, darkred, red, darkred, black);
    -webkit-background-clip: text;
}

/* Contact Left Heading */
.contact-left h3 {
    color: transparent;
    background: linear-gradient(black, goldenrod, gold, goldenrod, black);
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 50px;
}

/* Contact Paragraph Styles */
.contact p {
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

/* Input Row and Group Styles */
.input-row .input-group {
    flex-basis: 45%;
}

/* Input Field Styles */
input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

/* Input Placeholder Styling */
input::placeholder {
    text-indent: 10px;
}

/* Textarea Styles */
textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

/* Label Styling */
label {
    margin: 6px auto;
    font-weight: bolder;
    display: block;
    color: white;
    font-family: Montserrat;
}

/* Button Styles */
button {
    background: goldenrod;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 45px;
    border-radius: 40px;
    margin-top: 30px;
    box-shadow: 0px 5px 15px 0px darkgoldenrod;
    font-size: 24px;
    font-family: Montserrat;
    cursor: pointer;
}

/* Button Hover Effects */
button:hover {
    background-color: darkred;
    color: white;
    box-shadow: 0px 5px 15px 0px black;
    transition: 0.5s ease-in-out;
}

/* Contact Right Heading */
.contact-right h3 {
    color: transparent;
    background: linear-gradient(black, goldenrod, gold, goldenrod, black);
    -webkit-background-clip: text;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 50px;
}

/* Table Cell Padding */
tr td:first-child {
    padding-right: 40px;
}

tr td {
    padding-top: 20px;
    font-family: Montserrat;
}

/* Animation States */
html.is-animating .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateY(0);
}

html.is-rendering .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}

/* Footer Main Styles */
.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-stop: normal;
    scroll-snap-align: start;
    width: 100%;
    position: relative;
}

/* Footer Text Styles */
.footertext {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Footer Image Container */
.footerimages {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid goldenrod;
}

/* Footer Image Styles */
.footerimages img {
    width: 200px;
    height: 100px;
}

/* Social Media Links Styles */
.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Social Media Link Styles */
.socials a {
    text-decoration: none;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 100%;
}

/* Social Media Icons */
.socials a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Social Media Link Hover Effects */
.socials a:hover {
    background-color: darkgoldenrod;
    transition: 0.5s;
}

.socials a:hover i {
    color: white;
    transition: 0.5s;
}

/* Footer Links Container */
.footerlinks {
    margin: 10px 0;
}

/* Footer Links List */
.footerlinks ul {
    display: flex;
    justify-content: center;
}

/* Footer Link Styles */
.footerlinks ul li a {
    font-family: Bebas Neue;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 2em;
    opacity: 0.7;
    transition: 0.5s;
}

/* Footer Link Hover Effects */
.footerlinks ul li a:hover {
    opacity: 1;
    color: goldenrod;
}

/* Footer Bottom Styles */
.footerbottom {
    background-color: rgb(35, 35, 35);
    padding: 10px;
    text-align: center;
}

/* Footer Bottom Text */
.footerbottom p {
    color: white;
}

/* Designer Text Styles */
.designer {
    letter-spacing: 1px;
    font-weight: 24px;
    color: goldenrod;
}
