/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and HTML Styles */
body, html {
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

/* Heading Styles */
body h1, h2, h3, h4, h5 {
    font-family: "Bebas Neue", sans-serif;
}

/* Paragraph Styling */
body p {
    font-family: 'Montserrat', sans-serif;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(85, 85, 85);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(orangered, gold, darkgoldenrod);
    border-radius: 50px;
}

/* Navbar Styles */
.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    transform: translateZ(0);
}

.navbar .nav-links {
    display: flex;
}

/* Navbar Link Styles */
.navbar a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    margin-left: 40px;
    margin-right: 10px;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

/* Navbar Logo Styling */
.navbar .logo-image {
    margin-left: 20px;
}

/* Navbar Link Hover Effects */
.navbar a:hover {
    font-weight: bold;
    background: -webkit-linear-gradient(orangered, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease, height 0.3s ease;
}

.navbar a:hover::after {
    width: 95%;
}

/* Navbar Gradient Animation */
.navbar span {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 1000px;
    background: linear-gradient(90deg, transparent, goldenrod);
    animation: animate 2s infinite linear;
}

/* Keyframes for Gradient Animation */
@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }
    100% {
        left: 100%;
        transform: translate(0%);
    }
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    width: 100vh;
    height: max-content;
    display: flex;
    align-items: flex-start;
    transform: rotate(-90deg) translate(-90%, 0);
    transform-origin: left top;
    padding: 1.5em 3em;
    z-index: 1;
}

/* Sidebar Heading Styles */
.sidebar h1 {
    font-size: 200px;
    color: transparent;
    background: -webkit-linear-gradient(orangered, darkgoldenrod, white, goldenrod, orangered);
    -webkit-background-clip: text;
    position: relative;
}

/* Slider Container Styles */
.slider {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: -1;
}

/* Slider Wrapper Styles */
.slider-wrapper {
    position: absolute;
    top: 0;
    width: max-content;
    padding: 0 600px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

/* Individual Slide Styles */
.slide {
    width: 100%;
    height: 100%;
}

/* Slide Image Styles */
.slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, goldenrod, white, gold, orangered);
    border-image-slice: 1;
    border-width: 5px;
}

/* Transition Effects */
.transition-fade {
    opacity: 1;
    transition: 2s;
    transform: translateY(0);
}

/* Animation States */
html.is-animating .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateY(0);
}

html.is-rendering .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}
